$text-color: #000;


// fonts
$primary-font: 'Avenir', sans-serif;

$img: '../img/';

// header size

$header-height-small: 60px;
$header-height: 80px;


$primary-transition: 0.23s cubic-bezier(.165,.84,.44,1);
