.m-nav.m-nav_out-canvas{

  text-align: center;
  z-index: 10;
  position: fixed;
  top: $header-height;
  overflow: scroll;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(#DD06FF, .93) 0%, #FF0663 100%);
  -webkit-overflow-scrolling: touch;
  left: -100%;
  padding: 40px 0 100px;
  transition: left $primary-transition;

  &.speed-in{
    left: 0;
  }

  ul{
    height: auto;
    width: 100%;
    margin: auto;
  }

  li{
    width: 100%;
    font-size: 28px;
    text-align: center;

    &:not(last-child){
      margin-bottom: 35px;
    }
  }

  a{
    font-weight: 900;
    color: #fff;
    text-decoration: none;
  }

}