include ../blocks/_all
include ../helpers/_mixins

doctype html
html
  head
    include ../partials/_head
  body
    block main

    block modals

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
      script(type="text/javascript" src="js/app.js")
